<div class="profile-container">

  <h3>Profile</h3>
  <p>firstname: <i> {{user.firstname}}</i></p>
  <p>lastname: <i> {{user.lastname}}</i></p> 
  <p>email: <i> {{user.email}}</i></p> 
  <p>address: <i> {{user.address}}</i></p> 
  <p>role: <i> {{user.role}}</i></p> 
</div>