<div>
  <h3>Welcome {{fullname}} !! </h3>
</div>

<div id="pagination-container">
    {{#if route.hasPrevPage}}
       <div class="pagination-element buton">
         <a href={{route.prevLink}}>Previous page </a> 
      </div>
    {{/if}}

  
  <div class="pagination-element page">
   <b id="current-page">{{route.page}}</b>  
  </div>
    {{#if route.hasNextPage}}
      <div class="pagination-element buton">
          <a href={{route.nextLink}}>Next page </a> 
      </div>
    {{/if}}
</div>

<div id="all-products">
{{#each products}}
  <div id="productID-{{this.id}}" class="card">
    <div class='uk-card uk-card-default'>
      <div class='uk-card-media-top'>
        <img alt='foto producto' />
      </div>
      <div class='uk-card-body'>
        <h3 class='uk-card-title'>{{this.title}}</h3>
        <h5>USD ${{this.price}}</h5>
        <span class='uk-badge'>{{this.category}}</span>
        <p>{{this.description}}</p>
        <button class='uk-button uk-button-secondary uk-button-small' id="add-button-{{this.id}}">Agregar al
          carrito</button>
      </div>
    </div>
  </div>
{{/each}}
</div>